.fetch-json-data-wrapper .components-panel__row {
	display: block;
}


.afs-footer-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.afs-footer-pagination .page-numbers {
	padding: 6px;
	border: 1px solid #56535340;
	outline: 0;
	border-radius: 3px;
	min-width: 40px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none !important;
	color: #000;
	transition: all 0.3s ease;
}

.afs-footer-pagination .page-numbers.current,
.afs-footer-pagination .page-numbers:hover {
	background: #4caf50;
	color: #fff;
}

.afs-footer-pagination .pagination {
	gap: 8px;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: center;
}

// Table.
.editor-styles-wrapper table td,
.editor-styles-wrapper table th {
	padding: 15px !important;
}

.editor-styles-wrapper table th {
	background: #ddd !important;
}

tbody tr:nth-child(even) td {
	background: #f5ebeb !important;
}

.wp-block-create-block-fetch-json-data table {
	width: 100%;
	border-collapse: collapse;
	background-color: #f2f2f2;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}

.wp-block-create-block-fetch-json-data th,
.wp-block-create-block-fetch-json-data td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

.wp-block-create-block-fetch-json-data th td {
	background-color: #dddddd4d;
	color: #fff;
}

.wp-block-create-block-fetch-json-data .editor-styles-wrapper table th {
	background: #ccc !important;
}